#map-container {
  position: relative;
  height: calc(100vh - 80px);
  width: 100%;
  margin: 0 auto 60px auto;
}

#map-container .mapboxgl-map {
  height: 100%;
  width: 100%;
}

/* Camera Info Popup - override mapbox default */
.mapboxgl-popup {
  width: 230px
}
.mapboxgl-popup-content {
  background-color: rgba(35, 55, 75, 0.9);
  padding: 10px;
}
.mapboxgl-popup .mapboxgl-popup-close-button {
  background-color: transparent;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 3px;
}
.mapboxgl-popup .mapboxgl-popup-close-button:focus {
  outline: none;
}
.mapboxgl-popup-content img {
  width: 100%;
  margin: 10px auto 0 auto;
}
.mapboxgl-popup-content #open-detail-btn {
  margin-top: 6px;
  padding: 0 5px;
  background-color:transparent;
  color: white;
  font: 12px/20px Helvetica Neue,Arial,Helvetica,sans-serif;
  border: 1px solid #ffffff;
  border-radius: 6px;
  cursor: pointer;
}
.mapboxgl-popup-content #open-detail-btn:hover {
  background-color:rgba(255, 255, 255, 0.15);
}
.mapboxgl-popup-content #open-detail-btn:focus {
  outline: none;
}
