#map-container {
  position: relative;
  height: calc(100vh - 80px);
  width: 100%;
  margin: 0 auto 60px auto;
}

#map-container .mapboxgl-map {
  height: 100%;
  width: 100%;
}

/* Camera Info Popup - override mapbox default */
.mapboxgl-popup {
  width: 230px
}
.mapboxgl-popup-content {
  background-color: rgba(35, 55, 75, 0.9);
  padding: 10px;
}
.mapboxgl-popup .mapboxgl-popup-close-button {
  background-color: transparent;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 3px;
}
.mapboxgl-popup .mapboxgl-popup-close-button:focus {
  outline: none;
}
.mapboxgl-popup-content img {
  width: 100%;
  margin: 10px auto 0 auto;
}
.mapboxgl-popup-content #open-detail-btn {
  margin-top: 6px;
  padding: 0 5px;
  background-color:transparent;
  color: white;
  font: 12px/20px Helvetica Neue,Arial,Helvetica,sans-serif;
  border: 1px solid #ffffff;
  border-radius: 6px;
  cursor: pointer;
}
.mapboxgl-popup-content #open-detail-btn:hover {
  background-color:rgba(255, 255, 255, 0.15);
}
.mapboxgl-popup-content #open-detail-btn:focus {
  outline: none;
}

/* Side Panel */
.side-panel {
  z-index: 10;
  position: absolute;
  right: -100%;
  height: calc(100% - 40px);
  width: 25%;
  padding: 20px;
  min-width: 410px;
  background-color: rgba(35, 55, 75, 0.9);
  transition: 0.5s;
}
.side-panel.active{
  right: 0;
}
.side-panel-overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  z-index: 5;
}
.side-panel-overlay.active {
  visibility: visible;
}

.side-panel hr {
  margin: 10px 0;
  border:none;
  border-top: 1px solid #ffffff;
}

#camera-info-cont {
  display: flex;
}
#image-wrapper,
#text-wrapper {
  width: calc(50% - 5px);
}
#image-wrapper {
  margin-right: 5px;
}
#text-wrapper {
  margin-left: 5px;
}
#image-wrapper img {
  max-width: 100%;
}
#text-wrapper h4 {
  margin-top: 0;
  margin-bottom: 4px;
}
#text-wrapper hr {
  margin: 8px 0;
  border:none;
  border-top: 0.5px solid #ffffff;
}
#text-wrapper .cam-info-text-group {
  margin-top: 4px;
}
#text-wrapper span,
#text-wrapper p {
  font: 12px/20px Helvetica Neue,Arial,Helvetica,sans-serif;
}
#text-wrapper p {
  margin-top: 0;
  line-height: 120%;
}

/* Comment Section */

/* COMMENT LIST */
#comment-list {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  border-top: solid 1pt rgba(255,255,255, 0.2);
  border-left: solid 1pt rgba(255,255,255, 0.2);
  background-color: rgba(255,255,255, 0.01);
}
#comment-list ul {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: scroll;
  list-style: none;
}
/* scrollbar */
#comment-list ul::-webkit-scrollbar {
  width: 10px;
}
#comment-list ul::-webkit-scrollbar-track {
  background: rgba(255,255,255, 0.2); 
}
#comment-list ul::-webkit-scrollbar-thumb {
  background: rgba(255,255,255, 0.65); 
  border-radius: 5px;
}

#comment-list li {
  width: 90%;
  margin: 16px auto;
  position: relative;
  border: solid 1px #ffffff;
  border-radius: 10px;
}
.comment-header {
  padding: 8px;
  display: flex;
}
.comment-header span.username {
  margin-right: 8px;
  font-size: 0.85em;
}
.comment-header span.date {
  margin-left: 8px;
  font-size: 0.65em;
  color: rgba(255,255,255, 0.65);
}
.edit-delete {
  position: absolute;
  top: 5px;
  right: 8px;
}
.edit-delete img{
  margin-left: 6px;
  height: 15px;
  width: 15px;
}
.edit-delete img:hover {
  opacity: 0.5;
}
#comment-list li p {
  font-size: 0.75em;
  padding: 0 8px;
  margin-top: 0;
  margin-bottom: 8px;
}

/* Comment Edit Form */
#comment-list ul li form {
  display: flex;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
}
#comment-list ul li form textarea {
  height: 80px;
  width: 80%;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: rgba(255,255,255, 0.1);
}
#comment-list ul li form textarea:focus {
  height: calc(80px - 2px);
  width: calc(80% -2px);
  outline: none;
  border: 2px solid #ffffff;
}
#comment-list ul li form textarea::-webkit-scrollbar {
  width: 10px;
}
#comment-list ul li form textarea::-webkit-scrollbar-track {
  background: rgba(255,255,255, 0.2); 
}
#comment-list ul li form textarea::-webkit-scrollbar-thumb {
  background: rgba(255,255,255, 0.65); 
  border-radius: 5px;
}
#comment-list ul li form input[type="submit"] {
  width: 20%;
  margin: 0;
  background-color: rgba(255,255,255, 0.7);
  border: none;
  color: rgba(35, 55, 75, 1);
}
#comment-list ul li form input[type="submit"]:hover {
  background-color: rgba(255,255,255, 1);
}
