#map-container {
  position: relative;
  height: calc(100vh - 80px);
  width: 100%;
  margin: 0 auto 60px auto;
}

#map-container .mapboxgl-map {
  height: 100%;
  width: 100%;
}

/* Control Panel */
#control-panel {
  z-index: 10;
  position: absolute;
  top: 40px;
  right: 30px;
  height: calc(100% - 80px);
  width: 25%;
  background-color: rgba(35, 55, 75, 0.9);
}

/* Camera Info Popup - override mapbox default */
.mapboxgl-popup-content {
  background-color: rgba(35, 55, 75, 0.9);
}
.mapboxgl-popup-content img {
  margin-top: 10px;
}
.mapboxgl-popup-close-button {
  background-color: transparent;
  color: #ffffff;
  border: 0;
  border-radius: 0 3px 0 0;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 3px;
}
.mapboxgl-popup-close-button:focus {
  outline: none;
}

/* Camera Info Popup
#camera-info-cont {
  position: absolute;
  top: 50%;
  left: 37.5%;
  transform: translate(-50%, -50%);
  z-index: 10;
  height: 400px;
  width: 25%;
  background-color: rgba(35, 55, 75, 0.9);
}
#camera-info-cont img {
  position: relative;
  max-width: 40%;
}*/